@import "tailwindcss";

:root {
  --bg: #0a0a0a;
  --card: #141414;
  --card2: #1c1c1c;
  --pink: #ff2d7a;
  --green: #00e676;
  --yellow: #ffe600;
  --blue: #00b4ff;
  --purple: #b66dff;
  --muted: #555;
  --sub: #999;
  --border-color: #2a2a2a;
  --r: 14px;
  --r-sm: 8px;
}

body {
  background: var(--bg);
  color: #fff;
  font-family: "Segoe UI", system-ui, sans-serif;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 99px;
}

@keyframes pulse-dot {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(0.7);
  }
}

.pulse-animation {
  animation: pulse-dot 1.5s infinite;
}
